In [4]:
import pandas as pd
df=pd.read_csv('/Users/nat/Desktop/datasets/clickbait_data.csv')
df

                                                headline  clickbait
0                                     Should I Get Bings          1
1          Which TV Female Friend Group Do You Belong In          1
2      The New "Star Wars: The Force Awakens" Trailer...          1
3      This Vine Of New York On "Celebrity Big Brothe...          1
4      A Couple Did A Stunning Photo Shoot With Their...          1
...                                                  ...        ...
31995  To Make Female Hearts Flutter in Iraq, Throw a...          0
31996  British Liberal Democrat Patsy Calton, 56, die...          0
31997  Drone smartphone app to help heart attack vict...          0
31998  Netanyahu Urges Pope Benedict, in Israel, to D...          0
31999  Computer Makers Prepare to Stake Bigger Claim ...          0

[32000 rows x 2 columns]

In [5]:
df.isnull().sum()

headline     0
clickbait    0
dtype: int64

In [11]:
import nltk
import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/nat/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [21]:
import string
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

def RemoveSpecialCharacters(sentence):
    return re.sub('[^a-zA-Z]+',' ',sentence)

def ConvertAndRemove(sentence):
    sentence = str(sentence)
    sentence = RemoveSpecialCharacters(sentence)
    # convert to lower case
    sentence = ConvertToLowerCase(sentence)
    return sentence

def ConvertToLowerCase(sentence):
    return sentence.lower()

def CleanText(sentence):
    sentence = str(sentence)

    # Remove stopwords
    STOPWORDS = stopwords.words('english') + ['u', 'ü', 'ur', '4', '2', 'im', 'dont', 'doin', 'ure']
    # Remove punctuation
    nopunc = [char for char in sentence if char not in string.punctuation]
    nopunc = ''.join(nopunc)
    sentence = ' '.join([word for word in nopunc.split() if word.lower() not in STOPWORDS])
    sentence = ConvertAndRemove(sentence)
    return sentence

In [22]:
print(CleanText('i am zyzzingrizzington bear i am heem what ok \asfa[] lm'))

zyzzingrizzington bear heem ok sfa lm

In [23]:
df['Text_cleaning'] = df.headline.apply(CleanText)
df.head()
# Cleaning dataset done

,headline,clickbait,Text_cleaning
0,Should I Get Bings,1,get bings
1,Which TV Female Friend Group Do You Belong In,1,tv female friend group belong
2,"The New ""Star Wars: The Force Awakens"" Trailer...",1,new star wars force awakens trailer give chills
3,"This Vine Of New York On ""Celebrity Big Brothe...",1,vine new york celebrity big brother fucking pe...
4,A Couple Did A Stunning Photo Shoot With Their...,1,couple stunning photo shoot baby learning inop...

In [24]:
# need to split datasets
X = df.Text_cleaning
y = df.clickbait
print('original length training:',len(X))
print('original length test:',len(y))

original length training: 32000
original length test: 32000

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print('new len x_train:',len(X_train))
print('new len x_test:',len(X_test))
print('new len y_train:',len(y_train))
print('new len y_test:',len(y_test))

new len x_train: 25600
new len x_test: 6400
new len y_train: 25600
new len y_test: 6400